# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache
htmlcov/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor files
*.swp
*~
.idea/

# Jupyter Notebook
.ipynb_checkpoints 